.main-section {

  width: 98vw;
  max-height: 100vh;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-container {
    width: 80vw;
    height: 32em;
    background-color: rgba(59, 76, 175, 0.564);
    box-shadow: -5px 5px 10px 0px #9080d8;
    position: relative;
    perspective: 1000px;
}
h3 {
  padding-top: 1em;
}

.chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
    /* border: 2px solid  rgba(59, 76, 175, 0.564); */
    width: 80vw;
    height: 29em;
    position: absolute;
    /* top: 7vh; */
  }


  *, *:before, *:after {
      margin: 0;
      padding: 0;
    scroll-behavior: smooth;
  }
  

  .candle {
    position: absolute;
    left: 40%;
    bottom: 0;
    width: 100px;
    height: 340px;
    rotate: 45deg;
    border-radius: 150px / 70px;
    box-shadow: inset 20px -30px 50px 0 rgba(0, 0, 0, 0.4), inset -20px 0 50px 0 rgba(0, 0, 0, 0.4);
    background: #FF0000;
    }
  


  
  .thread {  
    position: absolute;
    top: -1em;
    left: 0%;
    z-index: 1;
    rotate: 25deg;
    transform: translateX(-50%);
    width: 100px;
    height: 30px;
    background-color: transparent;
    border-top-left-radius: 1000px; 
    border-top-right-radius: 1000px; 
    border: 4px solid rgb(5, 5, 5);
    border-bottom: 0;
  }

  .spark {
    display: grid;
    place-items: center;
    position: absolute;
    top: 5px;
    left: -35px;
    z-index: 3;
    width: 52px;
    height: 52px;
    border-radius: 1000px;
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    box-shadow: 0px 0px 4px 4px rgba(222,216,26,0.9026961126247374);
    background: rgb(223, 204, 64);

}

.spark .boom {
    font-size: 6px;
    opacity: 0;
}
  